{extend name="public:father" /}
{block name="left"}{/block}

{block name="main"}
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4 class="text-center">
                        <span class="glyphicon glyphicon-text-size" aria-hidden="true" ></span>
                        新建博文
                    </h4>

                    <form>
                        <div class="form-group">
                            <label>标题</label><input type="text" class="form-control" placeholder="标题">
                        </div><!-- /input-group -->
                        <div class="form-group">
                            <label>文章</label><input type="text" class="form-control">
                        </div>
                        <button class="btn btn-danger">确认修改</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{/block}
{block name="footer"}{/block}