{extend name="public:father"/}
{block name="left"}
{/block}

{block name="main"}

<div class="container">
    <div class="row">
        <div class="col-md-2 col-md-offset-1">
        </div>
        <div class="col-md-8">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3>{$Title}</h3> <br>
                    <div class="text-right">
                        <span class="label label-info">{$createTime}</span>
                    </div>
                </div>
                <div class="panel-body">
                    <p>
                        {$content}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


{/block}
{block name="footer"}

{/block}