{extend name="public:father"/}
{block name="left"}
{/block}

{block name="main"}
<style>
    span.light {
        font-weight:bold;
        color: #8c8c8c;
        /*font-family:Verdana,Genva,Arial,sans-serif;*/
    }
    span.bold{
        font-weight:bold;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-3">
                <div class="panel panel-default" >
                    <div class="row" style="padding-top: 3%;margin: 5%">
                        <span class="bold">{$Auth}</span>
                    </div>
                    <HR><!--分割线-->
                    <div class="row" style="margin: 5%">
                        <div class="col-md-3 text-center">
                            <span class="light">文章</span>
                            <span class="light">10</span>
                        </div>
                        <div class="col-md-3 text-center">
                            <span class="light">粉丝</span>
                            <span class="light">1</span>
                        </div>
                        <div class="col-md-3 text-center">
                            <span class="light">喜欢</span>
                            <span class="light">0</span>
                        </div>
                        <div class="col-md-3 text-center">
                            <span class="light">收藏</span>
                            <span class="light">2</span>
                        </div>
                    </div>
                    <HR><!--分割线-->
                    <div class="row text-center ">
                        <div class=" btn-group">
                            <button type="button" class="btn btn-default" ><span class="glyphicon glyphicon-plus"></span> 关注</button>
                            <button type="button" class="btn btn-default" ><span class="glyphicon glyphicon-envelope"></span> 私信</button>
                        </div>
                    </div>

                </div>
        </div>
        <div class="col-md-8">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3>{$Title}</h3> <br>
                    <div class="text-right">
                        <span class="label label-info">{$createTime}</span>
                    </div>
                </div>
                <div class="panel-body">
                    <div id = "content2">
                    </div>
                    <div id = "content1"  hidden="hidden">
                        {$content}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    //显示博客文本
    $(function() {
        $("#content2").html($("#content1").text());
    });
</script>
{/block}
{block name="footer"}{/block}