{extend name="public:father"/}
{block name="left"}

{/block}
{block name="main"}
<div class="container" style="padding-left: 150px">
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>最近发表文章</h3>
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        <button type="button" class="list-group-item">Cras justo odio <span class="badge">评论14</span></button>
                        <button type="button" class="list-group-item">Dapibus ac facilisis in</button>
                        <button type="button" class="list-group-item">Morbi leo risus</button>
                        <button type="button" class="list-group-item">Porta ac consectetur ac</button>
                        <button type="button" class="list-group-item">Vestibulum at eros</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2 " >
            <h2>我的列表</h2>
            <div class="list-group">
                <a href="#" class="list-group-item active">
                    <span class="badge">14</span>
                    我的资料
                </a>
                <a href="#" class="list-group-item">我的任务</a>
                <a href="#" class="list-group-item">我的项目</a>
                <a href="#" class="list-group-item">我的回复</a>
                <a href="#" class="list-group-item">我的关注</a>
            </div>
        </div>

    </div>
</div>
{/block}
{block name="footer"}

{/block}