{extend name="public:father"/}
{block name="left"}

{/block}
{block name="main"}
<div class="container" style="padding-left: 150px">
    <div class="row">
        <div class="col-md-8">
            <h2>我的资料</h2>
        </div>
        <div class="col-md-2 " >
            <h2>我的列表</h2>
            <div class="list-group">
                <a href="#" class="list-group-item active">
                    <span class="badge">14</span>
                    我的资料
                </a>
                <a href="#" class="list-group-item">我的任务</a>
                <a href="#" class="list-group-item">我的项目</a>
                <a href="#" class="list-group-item">我的回复</a>
                <a href="#" class="list-group-item">我的关注</a>
            </div>
        </div>

    </div>
</div>
{/block}
{block name="footer"}

{/block}