{extend name="public:father"}
{block name="left"}{/block}
{block name="main"}
<div class="container" style="padding-top:2%">
    <div class="row">
        <div class="col-md-2">
            <div class="list-group text-center ">
                <a id="myTwees" type="button" class="list-group-item" href="{:url('blog/user/myTweet',['uid'=>$authId])}">
                    <span class="glyphicon glyphicon-list-alt"></span> Ta的动态</a>
                <a id="myBlog" type="button" class="list-group-item" href="{:url('blog/index/othersBlog',['authId'=>$authId])}">
                    <span class="glyphicon glyphicon-calendar"></span>Ta的文章</a>
                <a id="myStar" type="button" class="list-group-item" href="{:url('blog/user/myStar',['uid'=>$authId])}">
                    <span class="glyphicon glyphicon-heart"></span>Ta的点赞</a>
                <a id="myCollect" type="button" class="list-group-item" href="{:url('blog/user/myCollect',['uid'=>$authId])}">
                    <span class="glyphicon glyphicon-star"></span>Ta的收藏</a>
                <a id="myReply" type="button" class="list-group-item" href="{:url('blog/user/myReply')}">
                    <span class="glyphicon glyphicon-comment"></span>Ta的回复</a>
            </div>
        </div>
        <div class="col-md-7">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>最近发表文章</h3>
                </div>
                <div class="panel-body">
                    <div class="list-group" >
                        <ul class="list-group">
                            {volist name='blogList' id='blog'}
                            <a href="{:url('blog/index/blogRead',['blogId'=>$blog.id])}" class="list-group-item">
                                <span>{$blog.title}</span>
                                <!--                                    <span class="glyphicon glyphicon-heart" style=" "></span>-->
                            </a>
                            {/volist}
                        </ul>
                    </div>
                    <div class="text-center">{$blogList|raw}</div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="row text-center" >
                    <img src="{$authImg}" style="width: 260px;">
                </div>
                <HR>
                <div class="row text-center">
                    <span style="font-weight: bold;font-size: 18px">{$nickname}</span>
                </div>
                <HR>
                <div class="row" style="font-weight: 500">
                    <div class="col-md-3 text-center">文章</div>
                    <div class="col-md-3 text-center">粉丝</div>
                    <div class="col-md-3 text-center">喜欢</div>
                    <div class="col-md-3 text-center">收藏</div>
                </div>
                <div class="row" style="font-weight: 800">
                    <div class="col-md-3 text-center">{$blogCount}</div>
                    <div class="col-md-3 text-center">{$fans}</div>
                    <div class="col-md-3 text-center">{$stars}</div>
                    <div class="col-md-3 text-center">{$collection}</div>
                </div>

                <HR>
                {if ( $authId == $Think.session.user_auth.uid) }
                <div class="row text-center " style="padding-bottom: 7%">
                    <a href="{:url('blog/user/userData')}" type="button" class="btn btn-default "  style="width: 200px">
                        <span class="glyphicon glyphicon-pencil"></span>
                        编辑个人资料
                    </a>
                </div>
                {else /}
                <div class="row text-center ">
                    <a type="button" class="btn btn-default "  style="width: 200px"><span class="glyphicon glyphicon-plus"></span> 关注</a>
                </div>
                <div class="row text-center" style="padding-top: 2%">
                    <a type="button" class="btn btn-default "  style="width: 200px"><span class="glyphicon glyphicon-envelope"></span> 私信</a>
                </div>
                {/if}
            </div>
        </div>
    </div>
</div>
{/block}
{block name="footer"}{/block}