<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{$Title|default="默认标题"}</title>
    {load href="/static/bootstrap/css/bootstrap.css" /}
    {load href="/static/bootstrap/js/jquery-3.4.1.min.js"/}
    {load href="/static/bootstrap/js/bootstrap.js" /}
    {load href="/static/sweetalert/docs/assets/sweetalert/sweetalert.min.js" /}

    {load href="/static/simditor/site/assets/styles/simditor.css" /}

    {load href="/static/simditor/site/assets/scripts/module.js" /}
    {load href="/static/simditor/site/assets/scripts/hotkeys.js" /}
    {load href="/static/simditor/site/assets/scripts/uploader.js" /}
    {load href="/static/simditor/site/assets/scripts/simditor.js" /}
    <style>
        #ttop {
            opacity:0.5;
            display: none; /* 默认隐藏 */
            position: fixed;
            bottom: 20px;
            right: 30px;
            z-index: 99;
            border: none;
            outline: none;
            /*background-color: #ffbde6; !* 设置背景颜色，你可以设置自己想要的颜色或图片 *!*/
            /*color: white; !* 文本颜色 *!*/
            cursor: pointer;
            padding: 15px;
            /*border-radius: 10px; !* 圆角 *!*/
        }
        pre {
            background: #a3b2f8;
        }
		body {background-image:url("/timg.jpeg");}
    </style>

</head>
<body >
<div class="container-fluid" >
    <nav class="navbar navbar-inverse ">
        <div class="container-fluid"  >
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
				<a class="navbar-brand active" href="{:url('blog/index/index')}">{$SiteName|default="Home"}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse nav-pills navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav  navbar-nav ">
                    <li ><a href="{:url('blog/blog/index')}">社交 <span class="sr-only">(current)</span></a></li>
                    <li><a href="{:url('blog/blog/blog')}">我的博文</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">社区 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="https://learnku.com/thinkphp" target="_blank">ThinkPHP</a></li>
                            <li><a href="https://learnku.com/php" target="_blank">PHP</a></li>
                            <li><a href="#">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
                {if $Think.session.user_auth}
                <ul class="nav navbar-nav navbar-right">
                    <li><a>你好</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <img src="{$Think.session.user_auth.userImg}" width="20">
                            {$Think.session.user_auth.nickname|default="游客"}
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu" id="user">
                            <li><a href="{:url('blog/user/userData')}"><span class="glyphicon glyphicon-cog"> </span>我的资料</a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-cog"></span>修改密码</a></li>
                            <li><a href="{:url('blog/blog/blog')}"><span class="glyphicon glyphicon-plus"></span>新建博客</a></li>
                            <li role="separator" class="divider"></li>
							<li><a href="{:url('blog/user/loginOut')}"><span class="glyphicon glyphicon-log-in"></span>退出登录</a></li>
                        </ul>
                    </li>
                </ul>
                {else /}
                <div class=" text-right" style="padding-top: 10px">
                    <a class="btn btn-default" href="{:url('blog/user/login')}">登录</a>
                    <a class="btn btn-default" href="{:url('blog/user/regist')}">注册</a>
                </div>
                {/if}
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>
<div class="row" style="display: none" id="123">
    <div class="col-md-6 col-md-offset-3">
        <div class="alert alert-danger"  role="alert">
            <!--            <button type="button" class="close" data-dismiss="alert" aria-label="Close">-->
            <!--                <span aria-hidden="true">&times;</span>-->
            <!--            </button>-->
            <strong id="message">Warning!</strong>
        </div>
    </div>
</div>
{block name="left"}左边分栏{/block}
{block name="main"}主内容{/block}
{block name="footer"}底部{/block}
<div id="ttop"><button class="btn btn-default btn-lg " style="background: #ffbde6"><span class=" glyphicon glyphicon-chevron-up "></span></button> </div>

<script>
    $(document).ready(function(){
        $(window).scroll(function() {
            if ($(window).scrollTop() > 30)
                $('#ttop').show();
            else
                $('#ttop').hide();
        });
        $('#ttop').click(function() {
            $('html, body').animate({scrollTop: 0}, 1000,"swing");
            // topFunction();
        });
    });
    // 当网页向下滑动 20px 出现"返回顶部" 按钮
    // window.onscroll = function() {scrollFunction()};
    //
    // function scrollFunction() {console.log(121);
    //     if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    //         document.getElementById("ttop").style.display = "block";
    //     } else {
    //         document.getElementById("ttop").style.display = "none";
    //     }
    // }
    // // 点击按钮，返回顶部
    // function topFunction() {
    //     document.body.scrollTop = 0;
    //     document.documentElement.scrollTop = 0;
    // }
</script>
</body>
</html>
