
<div class="col-md-3 col-md-offset-1">
    <div class="list-group">
        <a href="{:url('blog/user/userdata')}" type="button" class="list-group-item" style="text-align: center">个人信息</a>
        <a href="{:url('blog/user/userimg')}" type="button" class="list-group-item" style="text-align: center">修改头像</a>
        <a href="{:url('blog/user/userdata')}" type="button" class="list-group-item" style="text-align: center">绑定手机</a>
        <a href="{:url('blog/user/userdata')}" type="button" class="list-group-item" style="text-align: center">修改密码</a>
        <a href="{:url('blog/user/userdata')}" type="button" class="list-group-item" style="text-align: center">帐号绑定</a>
    </div>
</div>