<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>{$Title|default="默认标题"}</title>

    {load href="/static/bootstrap/css/bootstrap.css" /}
    {load href="/static/bootstrap/js/jquery-3.4.1.min.js"/}
    {load href="/static/bootstrap/js/bootstrap.js" /}
    {load href="/static/sweetalert/docs/assets/sweetalert/sweetalert.min.js" /}

    {load href="/static/simditor/site/assets/styles/simditor.css" /}

    {load href="/static/simditor/site/assets/scripts/module.js" /}
    {load href="/static/simditor/site/assets/scripts/hotkeys.js" /}
    {load href="/static/simditor/site/assets/scripts/uploader.js" /}
    {load href="/static/simditor/site/assets/scripts/simditor.js" /}

    {load href="/static/snow/snowfall.jquery.js" /}


    <style>
        #ttop {
            opacity:0.5;
            display: none; /* 默认隐藏 */
            position: fixed;
            bottom: 20px;
            right: 30px;
            z-index: 99;
            border: none;
            outline: none;
            /*background-color: #ffbde6; !* 设置背景颜色，你可以设置自己想要的颜色或图片 *!*/
            /*color: white; !* 文本颜色 *!*/
            cursor: pointer;
            padding: 15px;
            /*border-radius: 10px; !* 圆角 *!*/
        }
        pre {
            background: #a3b2f8;
        }
        body {
            background-image:url("/bg.jpg");
            background-attachment:fixed;
            background-repeat:no-repeat;
            background-position:center;
            background-size: cover;
        }
    </style>
    <style>
        .snowfall-flakes{animation:sakura 1s linear 0s infinite;}
        @keyframes sakura{
            0% {transform:rotate3d(0, 0, 0, 0deg);}
            25%{transform:rotate3d(1, 1, 0, 60deg);}
            50%{transform:rotate3d(1, 1, 0, 0deg);}
            75%{transform:rotate3d(1, 0, 0, 60deg);}
            100% {transform:rotate3d(1, 0, 0, 0deg);}
        }
    </style>
</head>
<body style="opacity:0.9;">
<div class="container-fluid" >
    <nav class="navbar navbar-inverse ">
        <div class="container-fluid"  >
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <input type="hidden" value="{$Think.session.user_auth.uid|default=0}" id = "userId" >
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand active" href="{:url('blog/index/index')}">{$SiteName|default="Home"}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse nav-pills navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav  navbar-nav ">
                    <li id="user1" ><a href="{:url('blog/blog/index')}">社交 <span class="sr-only">(current)</span></a></li>
                    <li id="user2" ><a href="{:url('blog/index/myBlog')}">我的博文</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">社区 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="https://learnku.com/thinkphp" target="_blank">ThinkPHP</a></li>
                            <li><a href="https://learnku.com/php" target="_blank">PHP</a></li>
                            <li><a href="#">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
                <form  id='search' class="navbar-form navbar-left" method="get" action="{:url('blog/blog/blogSearch')}" >
                    <div  class="form-group"  >
                        <input required id='search1' name="search" type="text" style="width: 110px" class="form-control" placeholder="Search">
                    </div>
                    <button id='search0' type="submit" class="btn btn-default">Submit</button>
                </form>
                {if $Think.session.user_auth}
                <ul class="nav navbar-nav navbar-right">
                    <li><a>你好</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <img src="{$Think.session.user_auth.userImg}" width="20">
                            {$Think.session.user_auth.nickname|default="游客"}
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu" id="user">
                            <li><a href="{:url('blog/user/myTweet')}"><span class="glyphicon glyphicon-user"> </span>个人中心</a></li>
                            <li><a href="{:url('blog/user/userData')}"><span class="glyphicon glyphicon-cog"></span>编辑资料</a></li>
                            <li><a href="{:url('blog/blog/blog')}"><span class="glyphicon glyphicon-plus"></span>新建博客</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{:url('blog/user/loginOut')}"><span class="glyphicon glyphicon-log-in"></span>退出登录</a></li>
                        </ul>
                    </li>
                </ul>
                {else /}
                <div class=" text-right" style="padding-top: 10px">
                    <a class="btn btn-default" href="{:url('blog/user/login')}">登录</a>
                    <a class="btn btn-default" href="{:url('blog/user/regist')}">注册</a>
                </div>
                {/if}
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>
<div class="row" style="display: none" id="123">
    <div class="col-md-6 col-md-offset-3">
        <div class="alert alert-danger"  role="alert">
            <!--            <button type="button" class="close" data-dismiss="alert" aria-label="Close">-->
            <!--                <span aria-hidden="true">&times;</span>-->
            <!--            </button>-->
            <strong id="message">Warning!</strong>
        </div>
    </div>
</div>
<!--*****************************************************************-->

<div class="container" style="padding-top:2%">
    <div class="row">
        <div class="col-md-2">
            <div class="list-group text-center ">
                <a id="myTwees" type="button" class="list-group-item" href="{:url('blog/user/myTweet')}"><span class="glyphicon glyphicon-list-alt"></span> 我的动态</a>
                <a id="myBlog" type="button" class="list-group-item" href="{:url('blog/user/myBlog')}"><span class="glyphicon glyphicon-calendar"></span>我的文章</a>
                <a id="myStar" type="button" class="list-group-item" href="{:url('blog/user/myStar')}"><span class="glyphicon glyphicon-heart"></span>我的点赞</a>
                <a id="myCollect" type="button" class="list-group-item" href="{:url('blog/user/myCollect')}"><span class="glyphicon glyphicon-star"></span>我的收藏</a>
                <a id="myReply" type="button" class="list-group-item" href="{:url('blog/user/myReply')}"><span class="glyphicon glyphicon-comment"></span>我的回复</a>
            </div>
        </div>
        <div class="col-md-7">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>{$userTitle}</h3>
                </div>
                <div class="panel-body">
                    {block name="main"}
                    <div class="list-group" >
                        <ul class="list-group">
                            {volist name='blogCollectList' id='blog'}
                            <a href="{:url('blog/index/blogRead',['blogId'=>$blog.id])}" class="list-group-item" target="_blank">
                                <span>{$blog.title}</span>
                                <!--                                    <span class="glyphicon glyphicon-heart" style=" "></span>-->
                            </a>
                            {/volist}
                        </ul>
                    </div>
                    <div class="text-center">{$blogCollectList|raw}</div>
                    {/block}
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="row text-center" >
                    <img src="{$authImg}" style="width: 260px;">
                </div>
                <HR>
                <div class="row text-center">
                    <span style="font-weight: bold;font-size: 18px">{$nickname}</span>
                </div>
                <HR>
                <div class="row" style="font-weight: 500">
                    <div class="col-md-3 text-center">文章</div>
                    <div class="col-md-3 text-center">粉丝</div>
                    <div class="col-md-3 text-center">喜欢</div>
                    <div class="col-md-3 text-center">收藏</div>
                </div>
                <div class="row" style="font-weight: 800">
                    <div class="col-md-3 text-center">{$blogCount}</div>
                    <div class="col-md-3 text-center">{$fans}</div>
                    <div class="col-md-3 text-center">{$stars}</div>
                    <div class="col-md-3 text-center">{$collection}</div>
                </div>
                <HR>
                <div class="row text-center">
                    <div class="col-md-4 col-md-offset-2" style="font-weight: 500">
                        访问量: 0
                    </div>
                    <div class="col-md-4" style="font-weight: 500">
                        排名：100
                    </div>
                </div>
                <HR>
                <div class="row text-center ">
                    <a type="button" class="btn btn-default "  style="width: 200px"><span class="glyphicon glyphicon-plus"></span> 关注</a>
                </div>
                <div class="row text-center" style="padding-top: 2%">
                    <a type="button" class="btn btn-default "  style="width: 200px"><span class="glyphicon glyphicon-envelope"></span> 私信</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="ttop"><button class="btn btn-default btn-lg " style="background: #ffbde6"><span class=" glyphicon glyphicon-chevron-up "></span></button> </div>
<script>
    if($('#userId').attr('value') == 0){
        $('#user1').hide();
        $('#user2').hide();
    }else {
        $('#user1').show();
        $('#user2').show();
    }
    $(document).ready(function(){
        $(window).scroll(function() {
            if ($(window).scrollTop() > 30)
                $('#ttop').show();
            else
                $('#ttop').hide();
        });
        $('#ttop').click(function() {
            $('html, body').animate({scrollTop: 0}, 1000,"swing");
            // topFunction();
        });
    });
    $(function () {
        $('#search1').focus(function () {
            $('#search1').animate({width:'250px'})
        });
        $('#search1').blur(function () {
            $('#search1').animate({width:'110px'})
        });
    });
    // 当网页向下滑动 20px 出现"返回顶部" 按钮
    // window.onscroll = function() {scrollFunction()};
    //
    // function scrollFunction() {console.log(121);
    //     if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    //         document.getElementById("ttop").style.display = "block";
    //     } else {
    //         document.getElementById("ttop").style.display = "none";
    //     }
    // }
    // // 点击按钮，返回顶部
    // function topFunction() {
    //     document.body.scrollTop = 0;
    //     document.documentElement.scrollTop = 0;
    // }
</script>

<script>
    $(function () {
        $(document).snowfall({image:"/img/1.png", flakeCount:10, minSpeed:1, minSize:8, maxSize:15,});
        $(document).snowfall({image:"/img/2.png", flakeCount:10, minSpeed:1, minSize:8, maxSize:15,});
        $(document).snowfall({image:"/img/3.png", flakeCount:10, minSpeed:1, minSize:8, maxSize:15,});
        $(document).snowfall({image:"/img/4.png", flakeCount:10, minSpeed:1, minSize:8, maxSize:15,});
    })
</script>

</body>
</html>
