{extend name="public:father" /}
{block name="left"}{/block}

{block name="main"}
<!--<script>-->
<!--    $("#user").html("<li><a href=\"{:url('blog/user/regist')}\">注册</a></li>\n" +-->
<!--        "<li role=\"separator\" class=\"divider\"></li>\n" +-->
<!--        "<li><a href=\"{:url('blog/user/login')}\">登录</a></li>");-->
<!--</script>-->
    <div class="row" style="padding: 30px">
        <div class="col-md-4 col-md-offset-4" >
            <form method="post" class="form-horizontal" id="regist">
                <div class="form-group">
                    <label for="Email">邮箱</label>
                    <input type="email"  name="Email"   class="form-control" id="Email" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="PhoneNumber">手机号</label>
                    <input type="text" class="form-control" name="PhoneNumber" id="PhoneNumber" placeholder="PhoneNumber">
                </div>
                <div class="form-group">
                    <label for="NickName">昵称</label>
                    <input type="text" class="form-control" name="NickName" id="NickName" placeholder="NickName">
                </div>
                <div class="form-group">
                    <label for="Password">密码</label>
                    <input type="password" class="form-control" name="Password" id="Password" placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="Password_confirm">确认密码</label>
                    <input type="password" class="form-control" name="Password_confirm" id="Password_confirm" placeholder="Confirm">
                </div>
<!--                <div class="form-group">-->
<!--                    <label for="exampleInputFile">File input</label>-->
<!--                    <input type="file" id="exampleInputFile">-->
<!--                    <p class="help-block">Example block-level help text here.</p>-->
<!--                </div>-->
<!--                <div class="checkbox">-->
<!--                    <label>-->
<!--                        <input type="checkbox"> Check me out-->
<!--                    </label>-->
<!--                </div>-->
                <div class="text-center" >
                    <button  class="btn  btn-info " id="Register">注册</button>
                </div>
            </form>
        </div>
        <script>
            $(function () {
                $("#Register").on('click',function () {
                    $.ajax({
                        // async:false,
                        type:'post',
                        url:"{:url('blog/user/save')}",
                        data:$('#regist').serialize(),
                        dataType:'json',
                        success:function (data) {
                            // alert(data.status);
                            switch (data.status) {
                                //我弄了一天。只因为错了一个字母。他竟然不提示我！！
                                case -1:
                                    $("#123").show();
                                    $("#message").text(data.message);
                                    break;
                                // $(location).back();
                                case 1:
                                    alert(data.message);
                                    // window.location.href="{:url('blog/index/index')}";
                                    $(location).attr('href','{:url("blog/index/index")}');
                                    break;
                                case 0: alert('注册失败') ;break;
                            }

                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            alert(errorThrown);
                        // $("#p_test").innerHTML = "there is something wrong!";
                        // alert(XMLHttpRequest.status);
                        // alert(XMLHttpRequest.readyState);
                        // alert(textStatus);
                        //     XMLHttpRequest：XMLHttpRequest.readyState: 状态码的意思
                        //     0 － （未初始化）还没有调用send()方法
                        //     1 － （载入）已调用send()方法，正在发送请求
                        //     2 － （载入完成）send()方法执行完成，已经接收到全部响应内容
                        //     3 － （交互）正在解析响应内容
                        //     4 － （完成）响应内容解析完成，可以在客户端调用了
                        //     XMLHttpRequest：XMLHttpRequest.status:
                        //     textStatus：错误原
                        //     errorThrown:（可选）捕获的错误对象
                    }
                    })
                    return false;
                })
            })
        </script>

    </div>
{/block}

{block name="footer"}{/block}