{extend name="public:father" /}
{block name="left"}{/block}

{block name="main"}
<div class="container" style="padding-top: 2%">
    <div class="row">
        {include file="public/userleft" /}
        <div class="col-md-7">
            <div class="panel panel-info">
                <div class="panel-heading">修改个人信息</div>
                <div class="panel-body">
                    <form>
                        <div class="form-group">
                            <label>昵称</label><input type="text" class="form-control">
                        </div><!-- /input-group -->
                        <div class="form-group">
                            <label>GitHub Name</label><input type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>邮 箱</label><input type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>真实姓名</label><input type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>城市</label><input type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>公司或组织名称</label><input type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>微信账号二维码</label>
                            <input type="file" id="exampleInputFile">
                            <p class="help-block">你的微信个人账号，或者订阅号 </p>
                        </div>
                        <div class="form-group">
                            <label>个人简介</label><input type="text" class="form-control">
                        </div>
                        <button class="btn btn-danger">确认修改</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

{/block}
{block name="footer"}{/block}